<p>qualification-list works!</p>


Filter: <input type="text" #filterInputElement (keyup)="filterQualificationByUserInput(filterInputElement.value)">
<br>
<button (click)="getQualificationList()">fetch</button><br>
<input type="text" #skillInput (keydown.enter)="addQualification(skillInput.value)">
<button (click)="addQualification(skillInput.value)">add Skill</button>
<br>



@for(e of filteredQualificationList$ ?? qualifications$ | async; track e.id) {
  <li>
    {{e.id }}. {{e.skill}} <button (click)="deleteQualification(e.id)">Delete</button>
  </li>
}
