<div class="employee-list-root">


  <div class="table-wrapper">
    <table class="employee-table">
      <thead>
        <tr>
          <th>Nachname</th>
          <th>Vorname</th>
          <th>Ort/PLZ</th>
          <th>Qualifikation</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employees$ | async; let i = index" (contextmenu)="openContext(e, i, $event)">
          <td>{{ e.lastName }}</td>
          <td>{{ e.firstName }}</td>
          <td>{{ e.postcode }} {{ e.city }}</td>
          <td>
            @for (qualification of e.skillSet; track $index) {
              <span>{{qualification.skill}}@if(e.skillSet?.length !== $index +1){, }</span>
            }
          </td>
          <td class="ctx-cell">
            <button class="ctx-btn" (click)="openContext(e, i)">⋯</button>
            <div *ngIf="isContextOpen(i)" class="ctx-menu">
              <button (click)="view(e)">Ansehen</button>
              <button (click)="edit(e)">Bearbeiten</button>
            </div>
          </td>
          <td>
            <button class="delete-btn" (click)="confirmDelete(e, i)">Löschen</button>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="(employees$ | async)?.length === 0">Keine Mitarbeiter gefunden (Platzhalter)</p>
  </div>


  <div class="modal-overlay" *ngIf="modalIsOpen">
    <div class="modal">
      <div *ngIf="showDeleteModal">
        <h3>Mitarbeiter löschen</h3>
        <p>Soll {{ deleteCandidate?.lastName }} {{ deleteCandidate?.firstName }} wirklich gelöscht werden?</p>
        <div class="modal-actions">
          <button class="btn btn-cancel" (click)="cancelDelete()">Abbrechen</button>
          <button class="btn btn-confirm" (click)="performDelete()">Löschen</button>
        </div>
      </div>

      <div *ngIf="showViewModal">
        <app-view-employee (closePopup)="exitView()" [employee]="viewEmployeeDetails"/>
      </div>
    </div>
  </div>
</div>
