<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closePopup.emit()">&times;</span>

    @if (isEditing || enterInEditMode) {
      <form class="edit-form">
        <div class="employee-item first-name">
          <label for="first-name">Vorname: </label>
          <br/>
          <input name="first-name" id="first-name" [(ngModel)]="firstNameModal"
                 (keyup)="validateUserInput()">
        </div>
        <div class="employee-item last-name">
          <label for="last-name">Nachname: </label>
          <br/>
          <input name="last-name" id="last-name" [(ngModel)]="lastNameModal"
                 (keyup)="validateUserInput()">

        </div>
        <div class="employee-item street">
          <label for="street">Straße: </label>
          <br/>
          <input name="street" id="street" [(ngModel)]="streetModal"
                 (keyup)="validateUserInput()">
        </div>
        <div class="employee-item post-code">
          <label for="post-code">Postleitzahl: </label>
          <br/>
          <input name="post-code" id="post-code" [(ngModel)]="postCodeModal"
                 (keyup)="validateUserInput()">
        </div>
        <div class="employee-item city">
          <label for="city">Stadt: </label>
          <br/>
          <input name="city" id="city" [(ngModel)]="cityModal" (keyup)="validateUserInput()">
        </div>
        <div class="employee-item phone">
          <label for="phone">Telefonnummer: </label>
          <br/>
          <input name="phone" id="phone" [(ngModel)]="phoneNumberModal"
                 (keyup)="validateUserInput()">

        </div>
        <div class="employee-item qualification">
          <app-custom-qualification-select
            [qualificationList$]="qualificationList$"
            [enableSearchBar]="true"
            [preSelectedQualificationList]="employee.skillSet!"
            (getSelection)="getQualificationSelection($event)"
          ></app-custom-qualification-select>

        </div>
        <div class="footer">
          <button [disabled]="errorMessageList.length" (click)="saveEdit()" class="save-button">speichern</button>
          <button (click)="cancelEditMode()" class="cancel-button">abbrechen</button>
          @if (errorMessageList.length) {
            <div class="error-message-list">
              <ul>
                @for (errorMessage of errorMessageList; track $index) {
                  <li class="error-message-list-item">{{ errorMessage }}</li>
                }
              </ul>
            </div>
          }
        </div>
      </form>
    } @else {
      <form class="view-form">
        <div class="employee-item first-name">
          <label>Vorname: </label>
          <br/>
          <div> {{ employee.firstName }}</div>
        </div>
        <div class="employee-item last-name">
          <label>Nachname: </label>
          <br/>
          <div> {{ employee.lastName }}</div>
        </div>
        <div class="employee-item street">
          <label>Straße: </label>
          <br/>
          <div> {{ employee.street }}</div>
        </div>
        <div class="employee-item post-code">
          <label>Postleitzahl: </label>
          <br/>
          <div> {{ employee.postcode }}</div>
        </div>
        <div class="employee-item city">
          <label>Stadt: </label>
          <br/>
          <div> {{ employee.city }}</div>
        </div>
        <div class="employee-item phone">
          <label>Telefonnummer: </label>
          <br/>
          <div> {{ employee.phone }}</div>
        </div>
        <div class="employee-item qualification">
          <label>Qualifikationen:</label>
          <ul
          >
            @for (qualification of employee.skillSet; track qualification.id) {
              <li>{{ qualification.skill }}</li>
            }
          </ul>
        </div>
        <div class="footer">
          <button class="switch-button" (click)="switchToEditMode()">bearbeiten</button>
        </div>
      </form>
    }


  </div>
</div>
