.filter-row {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px;
}

.filter-row input {
  /*flex: 1 1 180px;*/
  min-width: 160px;
  padding: 6px 8px;
  box-sizing: border-box;
}
.filter-row input[type="submit"] {
  flex: 0 0 auto;              /* feste Größe für den Button */
  padding: 6px 12px;
}

@media (max-width: 600px) {
  .filter-row {
    flex-direction: column;
    align-items: stretch;
  }

}
